html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', 'Verdana', sans-serif;
}

.almost-black {
    color: #333B41;
}

.font-24-px {
    font-size: 2.4rem;
}

ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
    position: absolute;
  }

a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}

a:link {
    color: white;
}

.navigation a:hover {
    color: orange;
}

a:hover {
    color: orange;
}


a:visited {
    color: white;
}

a:active {
    color: #4B9200;
}

.wrapper {
    position: relative;
    width: 1160px;
    margin: auto;
}


.header {
    background-color: black;
    width: 100%;
    height: 80px;
    position: relative;
    top: -8px;
    z-index: 2;
    margin: auto;
}

.header__navigation {
    position:relative;
    top: -25px;
    left: 89px;
}

.navigation {
        list-style: none;
        text-align: center;
}

.navigation li {
    display: inline-block;
    padding-left: 55px;
    font-size: 1.6rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.logodiv {
    display: flex;
    align-items: center;
    position: relative;
    width: 82px;
    height: 52px;
    left: 0px;
    top: 14px;
    border: 1px solid white;
    border-radius: 1px;
    background-color: black;
}

.logodiv:hover {
    border-color: orange;
}

.logodiv:active {
    border-color: #4B9200;
}

.logo-p {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    top: 3px;
    margin: auto;
    padding: 0px;
    font-size: 1.9rem;
    color: white;
    font-family: 400; 
}

.logo-a {
    text-align: center;
    color: white;
    outline: none;
    text-decoration: none;
}

.logo-bamboo {
    display: block;
    position: absolute;
    scale: 100%;
    left: 10px;
    top: 23px;
}

.promo {
    position: relative;
    margin: auto;
    top: -8px;
    height: 386px;
    background-image: url(../../assets/images/promo/Giant_Panda.jpg);
    background-position-y: center;
    background-size:cover;
}


.header__designedby {
    display: inline-block;
    position: absolute;
    top: 29px;
    right: 0px;
    z-index: 5;
}

.text__designedby {
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
}

.button__colored {
    display: block;
    position: absolute;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: white;
    text-transform: uppercase;
    border-color: #F9804B;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
}

.button-radius-25 {
    border-radius: 25px;
}

.button-radius-5 {
    border-radius: 5px;
}

.button__colored:hover {
    background: #E47209;
    border-color: #E47209;
}

.button__colored:active {
    background: #4B9200;
    border-color:#4B9200;
}

.mainpart {
    position: relative;
    height: 1482px;
    margin: auto;
    top: -8px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.text__zoo-reopened {
    position: absolute;
    height: 47px;
    left: 0px;
    top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
}

.donate_main-text {
    position: absolute;
    height: 94px;
    left: 0px;
    top: 97px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
    color: #FFFFFF;
}

.donate_text-don-info {
    position: absolute;
    width: 341px;
    height: 47px;
    left: 0px;
    top: 231px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
}

.donate__inner-block {
    position: absolute;
    height: 964px;
    left: 0px;
    right: 0px;
    top: 338px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.donation__items-inner-block {
    position: relative;
    width: 976px;
    height: 862px;
    left: calc(50% - 976px/2);
    top: 40px;
}

.inner__title {
    position: absolute;
    width: 463px;
    height: 58px;
    left: 250px;
    top: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
}

.inner__text {
    position: absolute;
    width: 1095px;
    height: 29px;
    left: 0px;
    top: 78px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.inner__number {
    position: absolute;
    width: 41px;
    height: 58px;
    left: 274px;
    top: 272px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.inner__number-description {
    position: absolute;
    width: 159px;
    height: 22px;
    left: 215px;
    top: 341px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #333B41; 
}

.donate__multiply {
    position: absolute;
    top: 297px;
    left: 385px;
}

.donate__animal-widget {
    position: absolute;
    top: 167px;
    left: 463px;
}

.donation__form {
    position: relative;
    top: 625px;
    left: 354px;
    width:300px;
    background-color: red;
}

.input-amount {
    width: 247px;
    height: 52px;
    left: 0px;
    top: 0px;
    position: absolute;
    border: 1px solid #929699;
    border-radius: 2px;
    color: #929699;
    padding: 0px 9px;
    content: "$";
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    background-image: url("../../assets/images/donate/dollar.svg");
    background-repeat: no-repeat;
    background-position: 248px, 10px;
}

.donation__radio-buttons {
    position: relative;
    top: 78px;
    left: 11px;
}

.montly_radio-button {
    position: absolute;
    left: 12px;
}

.once_radio-button {
    position: absolute;
    right: 154px;
}

.input-period {
    position: absolute;
    left: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid #FE9013;
    transition: 0.1s all linear;
    outline: none;
}

input:checked {
    background-color: #FE9013;
}

.input__text-radio {
    position: absolute;
    left: 30px;
    top: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

.donate__feed-button {
    position: relative;
    top: 131px;
    left: -12px;
}

.donate__bottom-text-inner-box {
    position:absolute;
    bottom: 2px;
    left: 340px;
}

.footer {
    position: relative;
    top: -8px;
    width: 100%;
    height: 443px;
    margin: auto;
    bottom: 0px;
    background-color: #111115;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
    color: #929699;
}

.footer__first-column {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 443px;
    /*background-color: #FFEE2E;*/
}

.button_donate {
    position: absolute;
    top: 161px;
    left: 0px;
}

.socialmedia {
    position: relative;
    width:111px;
    height:auto;
    left:0px;
    top: 206px;
    

}

.socialmedia_elem {
    position: relative;
    left:220px;
    width: 111px;
    height: 200px;
    top: 30px;
    line-height: 50px;
}

.logo_box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 26px;
    height: 26px;
    left: 0px;
}

.logo-logo {
    position: absolute;
    top:0px;
    left:50%;
    width: 26px;
    height: 26px;
}

.logo-circle {
    position: relative;
    left: 0px;
}

.ico {
    position: absolute;
    background-image: url(../../assets/images/footer/Ellipse18.svg);
    width: 26px;
    height: 26px;
    z-index: 1;
    left: 0px;
    margin: auto;
    align-self: baseline;
}

.socialmedia__logoimg {
    /*display: block;*/
    position: absolute;
    z-index: 2;
    margin:auto;
    vertical-align: middle;
    /*top:50%;
    left:50%;
    /*margin: auto;
    vertical-align: center;*/
    
}


.socialmedia__text {
    position: absolute;
    left: 38px;
    width: 73px;
    height: 21px;
    font-weight: 400;
    font-size: 16px;
    
    color: #FFFFFF;
    top: 0px;
}

.socialmedia__text:hover {
    color: #4B9200;
}


circle:hover {
    fill: #4B9200;
    fill-opacity: 1;
}

.footer__navigation {
        position:relative;
        bottom: -173px;
        left: 344px;
}

.footer__text-designedby {
    font-style: normal;
    font-weight: 100;
    font-size: 1.6rem;
    line-height: 130%;
    color: #FFFFFF;
    padding: 0px;
    text-indent: 0px;
    line-height: 200%;
}

.footer__designedby {
    position: absolute;
    bottom: -218px;
    right: -10px;
    padding: 0px;
}

.footer__form {
    position: absolute;
    top: 42px;
    right: 0px;
    width: 366px;
}

.footer-form_title {
    position: relative;
    width: 237px;
    height: 29px;
    left: 0px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}

.input-email {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 206px;
    background-color: #111115;
    border: 1px solid #F9804B;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    padding: 10px;
}

.input-email:focus {
    border-color: #4B9200;
    outline: none;
}

.input-email:invalid {
    border-color: #D31414;
    outline: none;
}

.sumbit_button {
    position: absolute;
    width: 129px;
    height: 42px;
    right: 0px;
    top: 40px;
    border: 1px solid #111115;
    border-radius: 5px;
    background-color: #F1F3F2;
    color: #111115;
}

.sumbit_button:active {
    border-color:#4B9200;
    color: #4B9200;
}

.sumbit_button:hover {
    border-color: orange;
    color: orange;
}