html {
    font-size: 10px;

}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', 'Verdana', sans-serif;
}


ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
  }

a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}

a:link {
    color: white;
}

.navigation a:hover {
    color: orange;
}

a:hover {
    color: orange;
}


a:visited {
    color: white;
}

a:active {
    color: #4B9200;
}

.wrapper {
    display: relative;
    width: 1160px;
    margin: auto;
}


.header {
    background-color: black;
    width: 1600px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.header__navigation {
    position:absolute;
    top: 29px;
    left: 308px;
}

.navigation {
        list-style: none;
        text-align: center;
}

.navigation li {
    display: inline-block;
    padding-left: 55px;
    font-size: 1.6rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.logodiv {
    display: flex;
    align-items: center;
    position: relative;
    width: 82px;
    height: 52px;
    left: 0px;
    top: 14px;
    border: 1px solid white;
    border-radius: 1px;
    background-color: black;
}

.logodiv:hover {
    border-color: orange;
}

.logodiv:active {
    border-color: #4B9200;
}

.logo-p {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    top: 3px;
    margin: auto;
    padding: 0px;
    font-size: 1.9rem;
    color: white;
    font-family: 400; 
}

.logo-a {
    text-align: center;
    color: white;
    outline: none;
    text-decoration: none;
}

.logo-bamboo {
    display: block;
    position: absolute;
    scale: 100%;
    left: 10px;
    top: 23px;
}

.promo__content {
    position: relative;
    width: 1600px;
    height: 390px;
    display: block;
    position: absolute;
    top: 76px;
    left: 0px;
}

.promo-panda {
    position: absolute;
    background-image: url(../../assets/images/promo/Giant_Panda.jpg);
    width: 1600px;
    height: 577px;
    top: -181px;
}

.header__designedby {
    display: inline-block;
    position: absolute;
    top: 29px;
    left: 1275px;
    z-index: 5;
}

.text__designedby {
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
}

.button__colored {
    display: block;
    position: absolute;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: white;
    text-transform: uppercase;
    border-color: #F9804B;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
}

.button-radius-25 {
    border-radius: 25px;
}

.button-radius-5 {
    border-radius: 5px;
}

.button__colored:hover {
    background: #E47209;
    border-color: #E47209;
}

.button__colored:active {
    background: #4B9200;
    border-color:#4B9200;
}

.mainpart {
    position: absolute;
    height: 1482px;
    width: 1600px;
    left: 0px;
    right: 0px;
    top: 466px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.text__zoo-reopened {
    position: absolute;
    height: 47px;
    left: 220px;
    top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
}

.donate_main-text {
    position: absolute;
    height: 94px;
    left: 220px;
    right: 220px;
    top: 97px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
    color: #FFFFFF;
}

.donate_text-don-info {
    position: absolute;
    width: 341px;
    height: 47px;
    left: 220px;
    top: 231px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
}

.donate__inner-block {
    position: absolute;
    height: 964px;
    left: 220px;
    right: 220px;
    top: 338px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.donation__items-inner-block {
    position: relative;
    width: 976px;
    height: 862px;
    left: calc(50% - 976px/2);
    top: 40px;
    background-color: #BDBDBD;
}

.inner__title {
    position: absolute;
    width: 463px;
    height: 58px;
    left: 250px;
    top: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
}

.inner__text {
    position: absolute;
    width: 1095px;
    height: 29px;
    left: 0px;
    top: 78px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.inner__number {
    position: absolute;
    width: 41px;
    height: 58px;
    left: 274px;
    top: 272px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.inner__number-description {
    position: absolute;
    width: 159px;
    height: 22px;
    left: 215px;
    top: 341px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #333B41; 
}

.donate__multiply {
    position: absolute;
    top: 297px;
    left: 385px;
}

.donate__animal-widget {
    position: absolute;
    top: 167px;
    left: 463px;
}

.footer {
    position: absolute;
    top: 1948px;
    width: 1600px;
    height: 443px;
    left: 0px;
    bottom: 0px;
    background-color: #111115;
}

.footer__first-column {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 443px;
    /*background-color: #FFEE2E;*/
}

.button_donate {
    position: absolute;
    top: 161px;
    left: 220px;
}

.footer__button-donate {
    display: block;
    position: absolute;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    border-color: #F9804B;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;

}



.socialmedia {
    position: relative;
    width:111px;
    height:auto;
    left:0px;
    top: 206px;
    

}

.socialmedia_elem {
    position: relative;
    left:220px;
    width: 111px;
    height: 200px;
    top: 30px;
    line-height: 50px;
}

.ico {
    position: absolute;
    background-image: url(../../assets/images/footer/Ellipse18.svg);
    width: 26px;
    height: 26px;
    z-index: 1;
    left: 0px;
    
}

.socialmedia__logoimg {
    position: absolute;
    z-index: 2;
    left: 0px;
}


.socialmedia__text {
    position: absolute;
    left: 38px;
    width: 73px;
    height: 21px;
    font-weight: 400;
    font-size: 16px;
    
    color: #FFFFFF;
    top: 0px;
}

.socialmedia__text:hover {
    color: #4B9200;
}


circle:hover {
    fill: #4B9200;
    fill-opacity: 1;
}

.footer__navigation {
        position:absolute;
        bottom: 50px;
        left: 564px;
}

.footer__text-designedby {
    font-style: normal;
    font-weight: 100;
    font-size: 1.55rem;
    line-height: 130%;
    color: #FFFFFF;
    padding: 0px;
    text-indent: 0px;
    line-height: 200%;
}

.footer__designedby {
    position: absolute;
    bottom: 29px;
    right: 220px;
    padding: 0px;
}

.footer-form_title {
    position: absolute;
    width: 237px;
    height: 29px;
    right: 350px;
    top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}

.input-email {
    position: absolute;
    top: 82px;
    left: 1013px;
    width: 206px;
    background-color: #111115;
    border: 1px solid #F9804B;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    padding: 10px;
}

.input-email:focus {
    border-color: #4B9200;
    outline: none;
}

.input-email:invalid {
    border-color: #D31414;
    outline: none;
}

.sumbit_div {
    position: absolute;
    width: 129px;
    height: 42px;
}

.sumbit_button {
    position: absolute;
    width: 129px;
    height: 42px;
    right: 220px;
    top: 83px;
    border: 1px solid #111115;
    border-radius: 5px;
    background-color: #F1F3F2;
    color: #111115;
}

.sumbit_button:active {
    border-color:#4B9200;
    color: #4B9200;
}

.sumbit_button:hover {
    border-color: orange;
    color: orange;
}