html {
    font-size: 10px;

}



body {
    font-size: 1.6rem;
    font-family: 'Roboto', 'Verdana', sans-serif;
}

ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
  }

a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}

a:link {
    color: white;
}

.navigation a:hover {
    color: orange;
}

a:visited {
    color: white;
}

a:active {
    color: orange;
}

.wrapper {
    display: flex;

}


.header {
    background-color: black;
    width: 1600px;
    height: 80px;
    position: absolute;
    top: 0px;
    z-index: 2;
}

.navigation {
        list-style: none;
        margin: 29px 365px 29px;
        padding: 0px;
        text-align: center;

}

.navigation li {
    display: inline-block;
    padding-left: 58px;
    font-size: 1.6rem;
}

.logo-p {
    background-color: black;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 82px;
    height: 52px;
    top: 14px;
    left: 220px;
    border: 1px solid white;
    border-radius: 1px;
    font-size: 1.9rem;
    color: white;
    font-family: 400; 
}

.logo-a {
    text-align: center;
    color: white;
    outline: none;
    text-decoration: none;
}

.logo-bamboo {
    display: block;

    scale: 100%;
    position: relative;
    left: 232px;
    top: 8px;
}

.promo-panda {
    background-image: url(../../assets/images/promo/Giant_Panda.jpg);
    width: 1600px;
    height: 780px;
    display: block;
    position: absolute;
    top: 0px;
    z-index: 1;
}

.header__designedby {
    display: inline-block;
    position: absolute;
    top: 29px;
    left: 1275px;
    z-index: 5;
}

.text__designedby {
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
}

.title1 {
    display: block;
    position: absolute;
    width: 500px;
    height: 400px;
    z-index: 6;
    color: white;
    left: 880px;
    top: 166px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
}

.colored_text {
    color: #FFEE2E;
}

.ellipse {
    position: absolute;
    width: 465px;
    height: 465px;
    left: 807px;
    top: 92px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    z-index: 4;
    border-radius: 50%;
}

.promo__button {
    display: block;
    position: absolute;
    top: 626px;
    left: 983px;
    z-index: 4;
    font-size: 1.6rem
}

.button__orange {
    display: block;
    position: absolute;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    color: white;
    text-transform: uppercase;
    border-color: #F9804B;
}



.animals__button {
    position: absolute;
    left: 651px;
    top: 975px;
}

.backstage {
    position: absolute;
    top: 880px;
    left: 219px;
    width: 1161px;

}

.backstage__picture {
    display: block;
    background-image: url(../../assets/images/backstage/bamboo-cap.jpg);
    width: 609px;
    height: 403px;
    float: left;
}

.animals {
    position: absolute;
    top: 1503px;
    left: 0px;
    width: 1600px;
}

.layout-3-column {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 1158px;
    padding: 15px;
    left: 220px;
    justify-content: space-between;
}

.animals__card {
    width: 366px;
    height: 426px;
    border:  1px solid;
    border-color: #FA6F32; 
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
    
}

.animals__picture {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 366px;
    margin: 0px;
    
}

.animals__title {
    position: absolute;
    width: 294px;
    height: 22px;
    left: 16px;
    top: 374px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000000;
}

.animals__description {
    position: absolute;
    width: 294px;
    height: 18px;
    left: 16px;
    top: 394px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.animals__logo {
    position: absolute;
    width: 33px;
    height: 37px;
    left: 321px;
    top: 376px;

}

.banana {
    background-image: url(../../assets/images/animals/banana-bamboo_icon.png);
}

.meat {
    background-image: url(../../assets/images/animals/meet-fish_icon.png);
}

.navigation__arrow {
    position: absolute;
    top: 430px;
    width: 62px;
    height: 62px;
}

.left {
    left: 140px;
    background-image: url("../../assets/images/navigation/arrow_elips_2.png");
}

.right {
    right: 140px;
    background-image: url("../../assets/images/navigation/arrow_elips_1.png");
}

.pickafriend {
    position: absolute;
    height: 1004px;
    width:  1600px;
    left: 0px;
    right: 0px;
    top: 2609px;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
opacity: 0.9;
}

.pickafriend__inside-block{
    position: relative;
    height: 835px;
    width: 1160px;
    left: 220px;
    top: 69px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.pickafriend__title {
    position: absolute;
    width: 463px;
    height: 58px;
    left: calc(50% - 463px/2 + 1.5px);
    top: 41px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FE9013;
}

.pickandfeed_lozung {
    position: absolute;
    width: 844px;
    height: 29px;
    left: calc(50% - 844px/2 - 59px);
    top: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.pickandfeed_accent {
    position: absolute;
    width: 1061px;
    height: 21px;
    left: calc(50% - 1061px/2 + 49.5px);
    top: 180px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.pickandfeed_text {
    position: absolute;
    width: 863px;
    height: 42px;
    left: calc(50% - 863px/2 - 49.5px);
    top: 207px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.pickafriends__how-works {
    position: absolute;
    width: 209px;
    height: 47px;
    left: calc(50% - 209px/2 - 0.5px);
    top: 300px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
}

.three-parts {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 418px;
    left: 198px;
    right: 198px;
    justify-content: space-between;
}

.pickafriend_card {
    position: relative;
    width: 168px;
    height: 244px;
    top: 0px;
}

.pickafriend_image {
    display: flex;
    width: 168px;
    height: 168px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid;
    border-color: #F9804B;
    border-radius: 5px;
}

.pickafriend_logo {
    display: flex;
    margin:auto;
    align-content: center;
    
}

.pickandfeed_card-text {
    position: absolute;
    width: 168px;
    height: 46px;
    left: 0px;
    top: 190px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

.pickafriend__button {
    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2);
    top: 736px;
}

.pickafriend__arrow {
    position:absolute;
    background-image: url(../../assets/images/pickafriend/Vector.png);
    top: 485px;
    width: 69px;
    height: 35px;
}

.first {
    left: 400px;

}

.second {
    left: 700px;
}

.title2 {
    float: right;
    position: absolute;
    height: 116px;
    left: 696px;
    right: 0px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
}

.backstage__text {
    position: absolute;
    height: 42px;
    left: 696px;
    right: 0px;
    top: 136px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */


    color: #333B41;
}

.title3 {
    position: absolute;
    width: 217px;
    height: 29px;
    left: calc(50% - 217px/2 + 224px);
    top: 232px;

    /* subtitle */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */


    color: #333B41;
}

.plant-decor1 {
    display:block;
    position: absolute;
    background: url(../../assets/images/plants_decor/flower_foto1.png);
    width: 205px;
    height: 605px;
    left: 1400px;
    top: 792px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.plant-decor2 {
    position: absolute;
    background: url(../../assets/images/plants_decor/palm_foto.png);
    position: absolute;
    width: 868px;
    height: 460px;
    left: -588px;
    top: 2149px;
}

.plant-decor3 {
    position: absolute;
    background: url(../../assets/images/plants_decor/strelitzia.png);
    width: 368px;
    height: 275px;
    left: 1230px;
    top: 2331px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



.testimonials {
    position: absolute;
    top: 3753px; 
}

.footer {
    position: absolute;
    top: 4532px; 
}