html {
    font-size: 10px;

}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', 'Verdana', sans-serif;
}


ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
  }

a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}

a:link {
    color: white;
}

.navigation a:hover {
    color: orange;
}

a:hover {
    color: orange;
}


a:visited {
    color: white;
}

a:active {
    color: #4B9200;
}

.wrapper {
    display: relative;
    width: 1160px;
    margin: auto;
}


.header {
    background-color: black;
    width: 1600px;
    height: 80px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.header__navigation {
    position:absolute;
    top: 29px;
    left: 308px;
}

.navigation {
        list-style: none;
        text-align: center;
}

.navigation li {
    display: inline-block;
    padding-left: 55px;
    font-size: 1.6rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.logodiv {
    display: flex;
    align-items: center;
    position: relative;
    width: 82px;
    height: 52px;
    left: 0px;
    top: 14px;
    border: 1px solid white;
    border-radius: 1px;
    background-color: black;
}

.logodiv:hover {
    border-color: orange;
}

.logodiv:active {
    border-color: #4B9200;
}

.logo-p {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    top: 3px;
    margin: auto;
    padding: 0px;
    font-size: 1.9rem;
    color: white;
    weight: 400; 
}

.logo-a {
    text-align: center;
    color: white;
    outline: none;
    text-decoration: none;
}

.logo-bamboo {
    display: block;
    position: absolute;
    scale: 100%;
    left: 10px;
    top: 23px;
}

.promo-panda {
    background-image: url(../../assets/images/promo/Giant_Panda.jpg);
    width: 1600px;
    height: 780px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.header__designedby {
    display: inline-block;
    position: absolute;
    top: 29px;
    left: 1275px;
    z-index: 5;
}

.text__designedby {
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
}

.title1 {
    display: block;
    position: absolute;
    width: 500px;
    height: 400px;
    z-index: 6;
    color: white;
    left: 880px;
    top: 166px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
}

.colored_text {
    color: #FFEE2E;
}

.ellipse {
    position: absolute;
    width: 465px;
    height: 465px;
    left: 807px;
    top: 92px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    z-index: 4;
    border-radius: 50%;
}

.promo__button {
    display: block;
    position: absolute;
    top: 626px;
    left: 983px;
    z-index: 4;
    font-size: 1.6rem
}

.button__colored {
    display: block;
    position: absolute;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: white;
    text-transform: uppercase;
    border-color: #F9804B;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
}

.button-radius-25 {
    border-radius: 25px;
}

.button-radius-5 {
    border-radius: 5px;
}

.button__colored:hover {
    background: #E47209;
    border-color: #E47209;
}

.button__colored:active {
    background: #4B9200;
    border-color:#4B9200;
}


.backstage {
    position: absolute;
    top: 920px;
    left: 0px;
    width: 1600px;
}

.plant-decor1 {
    display: block;
    position: absolute;
    background: url(../../assets/images/plants_decor/flower_foto1.png);
    width: 204px;
    height: 605px;
    right: 0px;
    top: -128px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.backstage__picture {
    display: block;
    background-image: url(../../assets/images/backstage/bamboo-cap.jpg);
    width: 609px;
    height: 403px;
    float: left;
    top: 0px;
}

.layout-2-column {
    position: relative;
    top:0px;
    left:0px;
}

.first_column_of_2 {
    position: absolute;
    left: 0px;
    width: 609px;
    align-items: left;
}

.second_column_of_2 {
    position: absolute;
    right: 0px;
    width: 465px;
    align-items: right;
}

.title2 {
    float: right;
    position: absolute;
    height: 116px;
    right: 0px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
}

.title3 {
    position: absolute;
    width: 217px;
    height: 29px;
    align-content: center;
    top: 232px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.backstage__text {
    position: absolute;
    height: 42px;
    top: 121px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #333B41;
}

.animals {
    position: absolute;
    top: 1500px;
    left: 0px;
    width: 1600px;
}

.layout-3-column {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 1158px;
    padding: 0px 15px 15px 0px;
    left: 217px;
    justify-content: space-between;
}

.animals__card {
    width: 366px;
    height: 426px;
    border:  1px solid;
    border-color: #FA6F32; 
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
}

.animals__card:hover > .animals__picture {
    transform: scale(1.1);
    filter:brightness(50%);
    transition: all 0.1s ease;
}

.animals__card:hover > .animals__title-box {
    transform: translate(120px, -250px);
    filter: invert();
    transition: all 0.2s ease;
}

.animals__card:hover > .animals__title {
    font-size: 200px;
    transition: all 0.2s ease;
}

.animals__picture {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 366px;
    margin: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.animals__title {
    display: block;
    position: absolute;
    width: 294px;
    height: 22px;
    left: 16px;
    top: 374px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000000;
}

.animals__description {
    position: absolute;
    width: 294px;
    height: 18px;
    left: 16px;
    top: 394px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.animals__logo {
    position: absolute;
    right: 13px;
    top: 376px;
}

.banana {
    background-image: url(../../assets/images/animals/banana-bamboo_icon.png);
    width: 33px;
    height: 37px;
}

.meat {
    width: 48px;
    height: 38px;
    background-image: url(../../assets/images/animals/meet-fish_icon.png);
}

.navigation__arrow {
    position: absolute;
    top: 402px;
    width: 62px;
    height: 62px;
}

.navigation__arrow:active {
    scale: 110%;
}

.left {
    left: 140px;
    background-image: url("../../assets/images/navigation/arrow_elips_2.png");
}

.right {
    right: 140px;
    background-image: url("../../assets/images/navigation/arrow_elips_1.png");
}

.animals__button {
    position: absolute;
    left: 651px;
    top: 955px;
    border: none;
}

.plant-decor2 {
    position: absolute;
    background: url(../../assets/images/plants_decor/palm_foto.png);
    position: absolute;
    width: 868px;
    height: 460px;
    left: -586px;
    top: 649px;
}

.plant-decor3 {
    position: absolute;
    background: url(../../assets/images/plants_decor/strelitzia.png);
    width: 368px;
    height: 275px;
    right: 0px;
    top: 833px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pickafriend {
    position: absolute;
    height: 1004px;
    width:  1600px;
    left: 0px;
    right: 0px;
    top: 2609px;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

.pickafriend__inside-block{
    position: relative;
    height: 835px;
    width: 1160px;
    left: 220px;
    top: 50px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.pickafriend__title {
    position: absolute;
    width: 463px;
    height: 58px;
    left: calc(50% - 463px/2 + 1.5px);
    top: 41px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FE9013;
}

.pickandfeed_lozung {
    position: absolute;
    width: 844px;
    height: 29px;
    left: calc(50% - 844px/2 - 59px);
    top: 108px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.pickandfeed_accent {
    position: absolute;
    width: 1061px;
    height: 21px;
    left: calc(50% - 1061px/2 + 49.5px);
    top: 184px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.pickandfeed_text {
    position: absolute;
    width: 863px;
    height: 42px;
    left: calc(50% - 863px/2 - 49.5px);
    top: 215px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.pickafriends__how-works {
    position: absolute;
    width: 209px;
    height: 47px;
    left: calc(50% - 209px/2 - 0.5px);
    top: 332px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
}

.underlined-text {
    text-decoration: none;
    border-bottom: 1px #FE9013 solid;
}


.three-parts {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 418px;
    left: 198px;
    right: 198px;
    justify-content: space-between;
}

.pickafriend_card {
    position: relative;
    width: 168px;
    height: 244px;
    top: 0px;
}

.pickafriend_image {
    display: flex;
    width: 168px;
    height: 168px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid;
    border-color: #F9804B;
    border-radius: 5px;
}

.pickafriend_logo {
    display: flex;
    margin:auto;
    align-content: center;
    
}

.pickandfeed_card-text {
    position: absolute;
    width: 168px;
    height: 46px;
    left: 0px;
    top: 182px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

.pickafriend__arrow {
    position:absolute;
    background-image: url(../../assets/images/pickafriend/Vector.png);
    top: 479px;
    width: 69px;
    height: 35px;
}

.first {
    left: 396px;

}

.second {
    left: 693px;
}

.pickafriend__button {
    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2);
    top: 721px;
}

.testimonials {
    position: absolute;
    width: 1600px;
    top: 3734px; 
}

.testimonials__main {
    position: relative;
    width: 1160px;
    height: 575px;
    left: -9px;
}

.testimonials__h3 {
    top: 0px;
}

.layout-4-column {
    display: flex;
    position: relative;
    width:1160px;
    height: 575px;
    justify-content: space-between;
    top: 94px;
}

.testimonials__textblock {
    display: inline-flex;
    align-items: center;
    width: 268px;
    height: 391px;
    border: 2px solid #E47209;
    border-radius: 20px;
    background-color: #F1F3F2;
    top: 94px;
}

.slidebar_box {
    display: block;
    position: relative;
    width: 599px;
    height: 8px;
    
}

.slidebar {
    position: absolute;
    width: 599px;
    height: 8px;
    top: 505px;
    left: 277px;
    border-color: #E47209;
    outline: none;
    border: 1px solid #4B9200;
}

.slidebar {
    background-color: #4B9200;
}

.testimonials__button {
    position: absolute;
    top: 565px;
    left: 212px;
    width: 300px;
}

.plant-decor4 {
    position: absolute;
    background: url(../../assets/images/plants_decor/leav_foto.jpg);
    position: absolute;
    width: 247px;
    height: 408px;
    right:7px;
    top: 523px;
}

.footer {
    position: absolute;
    top: 4532px;
    width: 1600px;
    height: 443px;
    left: 0px;
    bottom: 0px;
    background-color: #111115;
}

.footer__first-column {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 443px;
    /*background-color: #FFEE2E;*/
}

.button_donate {
    position: absolute;
    top: 161px;
    left: 220px;
}

.footer__button-donate {
    display: block;
    position: absolute;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    border-color: #F9804B;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;

}



.socialmedia {
    position: relative;
    width:111px;
    height:auto;
    left:0px;
    top: 206px;
    

}

.socialmedia_elem {
    position: relative;
    left:220px;
    width: 111px;
    height: 200px;
    top: 30px;
    line-height: 50px;
}

.ico {
    position: absolute;
    background-image: url(../../assets/images/footer/Ellipse18.svg);
    width: 26px;
    height: 26px;
    z-index: 1;
    left: 0px;
    
}

.socialmedia__logoimg {
    position: absolute;
    z-index: 2;
    left: 0px;
}


.socialmedia__text {
    position: absolute;
    left: 38px;
    width: 73px;
    height: 21px;
    font-weight: 400;
    font-size: 16px;
    
    color: #FFFFFF;
    top: 0px;
}

.socialmedia__text:hover {
    color: #4B9200;
}


circle:hover {
    fill: #4B9200;
    fill-opacity: 1;
}

.footer__navigation {
        position:absolute;
        bottom: 50px;
        left: 564px;
}

.footer__text-designedby {
    font-style: normal;
    font-weight: 100;
    font-size: 1.55rem;
    line-height: 130%;
    color: #FFFFFF;
    padding: 0px;
    text-indent: 0px;
    line-height: 200%;
}

.footer__designedby {
    position: absolute;
    bottom: 29px;
    right: 220px;
    padding: 0px;
}

.footer-form_title {
    position: absolute;
    width: 237px;
    height: 29px;
    right: 350px;
    top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}

.input-email {
    position: absolute;
    top: 82px;
    left: 1013px;
    width: 206px;
    background-color: #111115;
    border: 1px solid #F9804B;
    border-radius: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    padding: 10px;
}

.input-email:focus {
    border-color: #4B9200;
    outline: none;
}

.input-email:invalid {
    border-color: #D31414;
    outline: none;
}

.sumbit_div {
    position: absolute;
    width: 129px;
    height: 42px;
}

.sumbit_button {
    position: absolute;
    width: 129px;
    height: 42px;
    right: 220px;
    top: 83px;
    border: 1px solid #111115;
    border-radius: 5px;
    background-color: #F1F3F2;
    color: #111115;
}

.sumbit_button:active {
    border-color:#4B9200;
    color: #4B9200;
}

.sumbit_button:hover {
    border-color: orange;
    color: orange;
}




