/** { border: 1px solid red;}*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");


html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', 'Verdana', sans-serif;
    margin: 0;
}

.almost-black {
    color: #333B41;
}

.font-24-px {
    font-size: 2.4rem;
}

a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}

a:link {
    color: white;
}

.navigation a:hover {
    color: orange;
}

a:hover {
    color: orange;
}


a:visited {
    color: white;
}

a:active {
    color: #4B9200;
}

.wrapper {
    position: relative;
    width: 1160px;
    margin: auto;
}


.header {
    background-color: black;
    width: 1600px;
    height: 80px;
    position: relative;
    top: 0px;
    z-index: 2;
    margin: auto;
}

.header__navigation {
    position:relative;
    width:50px;
    top: -22px;
    left: 89px;
}

.navigation {
        list-style: none;
        text-align: center;
}

.burger-menu {
    display: none;
    position: absolute;
    top:7px;
    right: 0px;
    width:18px;
    height:10px;
}

.burger-menu:hover {
    scale: 110%;
    cursor: pointer;
}


ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 472px;
    left: 56px;    
  }

.navigation li {
    display: inline-block;
    padding-left: 0px;
    font-size: 1.6rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.logodiv {
    display: flex;
    align-items: center;
    position: relative;
    width: 80px;
    height: 50px;
    left: 0px;
    top: 14px;
    border: 1px solid white;
    border-radius: 1px;
    background-color: black;
}

.logodiv:hover {
    border-color: orange;
}

.logodiv:active {
    border-color: #4B9200;
}

.logo-p {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 0px;
    top: 3px;
    margin: auto;
    padding: 0px;
    font-size: 1.9rem;
    color: white;
    font-weight: 400; 
}

.logo-a {
    text-align: center;
    color: white;
    outline: none;
    text-decoration: none;
}

.logo-bamboo {
    display: block;
    position: absolute;
    scale: 100%;
    left: 10px;
    top: 23px;
}

.header__designedby {
    display: inline-block;
    position: absolute;
    top: 31px;
    right: 0px;
    z-index: 5;
}

.text__designedby {
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
}

.promo {
    position: relative;
    width: 1600px;
    height: auto;
    margin:auto;
    top: -80px;
}

.promo-panda {
    background-image: url(../../assets/images/promo/Giant_Panda.jpg);
    width: 1600px;
    height: 780px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.title1 {
    display: block;
    position: absolute;
    width: 500px;
    height: 400px;
    z-index: 6;
    color: white;
    left: 880px;
    top: 166px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
}

.colored_text {
    color: #FFEE2E;
}

.ellipse {
    position: absolute;
    width: 465px;
    height: 465px;
    left: 807px;
    top: 92px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    z-index: 4;
    border-radius: 50%;
}

.promo__button {
    display: block;
    position: absolute;
    top: 626px;
    left: 983px;
    z-index: 4;
    font-size: 1.6rem
}


.button__colored {
    display: block;
    position: absolute;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: white;
    text-transform: uppercase;
    border-color: #F9804B;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
}

.button-radius-25 {
    border-radius: 25px;
}

.button-radius-5 {
    border-radius: 5px;
}

.button__colored:hover {
    background: #E47209;
    border-color: #E47209;
}

.button__colored:active {
    background: #4B9200;
    border-color:#4B9200;
}


.backstage {
    position: relative;
    top: 840px;
    left: 0px;
    width: 1600px;
    margin: auto;
   
}

.plant-decor1 {
    display: block;
    position: absolute;
    background: url(../../assets/images/plants_decor/flower_foto1.png);
    background-repeat: no-repeat;
    width: 204px;
    height: 605px;
    right: 0px;
    top: -128px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.backstage__picture {
    display: block;
    background-image: url(../../assets/images/backstage/bamboo-cap.jpg);
    width: 609px;
    height: 403px;
    float: left;
    top: 0px;
}

.layout-2-column {
    position: relative;
    top:0px;
    left:0px;
}

.first_column_of_2 {
    position: absolute;
    left: 0px;
    width: 609px;
    align-items: left;
}

.second_column_of_2 {
    position: absolute;
    right: 0px;
    width: 465px;
    align-items: right;
}

.title2 {
    float: right;
    position: absolute;
    height: 116px;
    right: 0px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
}

.title3 {
    position: absolute;
    width: 217px;
    height: 29px;
    align-content: center;
    top: 232px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.backstage__text {
    position: absolute;
    height: 42px;
    top: 121px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #333B41;
}

.bottom-BS-text {
    top: 280px;
}

.animals {
    position: relative;
    top: 1421px;
    left: 0px;
    width: 1600px;
    margin: auto;
}

.layout-3-column {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 1158px;
    padding: 0px 15px 15px 0px;
    left: 0px;
    justify-content: space-between;
}

.animals__card {
    width: 366px;
    height: 426px;
    border:  1px solid;
    border-color: #FA6F32; 
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.animals__card:hover > .animals__picture {
    transform: scale(1.1);
    filter:brightness(50%);
    transition: all 0.1s ease;
}

.animals__card:hover > .animals__title-box {
    transform: translate(120px, -250px);
    filter: invert();
    transition: all 0.2s ease;
}

.animals__card:hover > .animals__title {
    font-size: 200px;
    transition: all 0.2s ease;
}

.animals__picture {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 366px;
    margin: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.animals__title {
    display: block;
    position: absolute;
    width: 294px;
    height: 22px;
    left: 16px;
    top: 374px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000000;
}

.animals__description {
    position: absolute;
    width: 294px;
    height: 18px;
    left: 16px;
    top: 394px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.animals__logo {
    position: absolute;
    top: 376px;
}

.banana {
    background-image: url(../../assets/images/animals/banana-bamboo_icon.png);
    width: 33px;
    height: 37px;
    right: 13px;
}

.meat {
    right: 8px;
    width: 48px;
    height: 38px;
    background-image: url(../../assets/images/animals/meet-fish_icon.png);
}

.navigation__arrow {
    position: absolute;
    top: 406px;
    width: 62px;
    height: 62px;
}

.navigation__arrow:active {
    scale: 110%;
}

.left {
    left: -83px;
    background-image: url("../../assets/images/navigation/arrow_elips_2.png");
}

.right {
    right: -81px;
    background-image: url("../../assets/images/navigation/arrow_elips_1.png");
}

.animals__button {
    position: absolute;
    left: 432px;
    top: 955px;
    border: none;
}

.plant-decor2 {
    position: absolute;
    background: url(../../assets/images/plants_decor/palm_foto.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 868px;
    height: 460px;
    left: 0px;
    top: 649px;
}

.plant-decor3 {
    position: absolute;
    background: url(../../assets/images/plants_decor/strelitzia.png);
    background-repeat: no-repeat;
    width: 368px;
    height: 275px;
    right: 0px;
    top: 833px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pickafriend {
    position: absolute;
    height: 1004px;
    width:  1600px;
    left: 0px;
    right: 0px;
    top: 2609px;
    margin: auto;
    padding: 0px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

.pickafriend__inside-block{
    position: relative;
    height: 835px;
    width: 1160px;
    left: 220px;
    top: 50px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.pickafriend__title {
    position: absolute;
    width: 463px;
    height: 58px;
    left: calc(50% - 463px/2 + 1.5px);
    top: 41px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FE9013;
}

.pickandfeed_lozung {
    position: absolute;
    width: 844px;
    height: 29px;
    left: calc(50% - 844px/2 - 59px);
    top: 108px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.pickandfeed_accent {
    position: absolute;
    width: 1061px;
    height: 21px;
    left: calc(50% - 1061px/2 + 49.5px);
    top: 184px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.pickandfeed_text {
    position: absolute;
    width: 863px;
    height: 42px;
    left: calc(50% - 863px/2 - 49.5px);
    top: 215px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.pickafriends__how-works {
    position: absolute;
    width: 209px;
    height: 47px;
    left: calc(50% - 209px/2 - 0.5px);
    top: 332px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
}

.underlined-text {
    text-decoration: none;
    border-bottom: 1px #FE9013 solid;
}


.three-parts {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 418px;
    left: 198px;
    right: 198px;
    justify-content: space-between;
}

.pickafriend_card {
    position: relative;
    width: 168px;
    height: 244px;
    top: 0px;
}

.pickafriend_image {
    display: flex;
    width: 168px;
    height: 168px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid;
    border-color: #F9804B;
    border-radius: 5px;
}

.pickafriend_logo {
    display: flex;
    margin:auto;
    align-content: center;
    
}

.pickandfeed_card-text {
    position: absolute;
    width: 168px;
    height: 46px;
    left: 0px;
    top: 182px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

.pickafriend__arrow {
    position:absolute;
    background-image: url(../../assets/images/pickafriend/Vector.png);
    top: 479px;
    width: 69px;
    height: 35px;
}

.first {
    left: 396px;

}

.second {
    left: 693px;
}

.pickafriend__button {
    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2);
    top: 721px;
}

.testimonials {
    position: relative;
    width: 1600px;
    top: 3655px; 
    margin: auto;
}

.testimonials__main {
    position: relative;
    width: 1160px;
    height: 575px;
    left: 0px;
}

.testimonials__h3 {
    top: 0px;
}

.layout-4-column {
    display: flex;
    position: relative;
    width:1160px;
    height: 575px;
    justify-content: space-between;
    top: 94px;
}

.testimonials__textblock {
    display: inline-flex;
    align-items: center;
    width: 263px;
    height: 386px;
    border: 2px solid #E47209;
    border-radius: 20px;
    background-color: #F1F3F2;
    top: 94px;
}

.slidebar_box {
    display: block;
    position: relative;
    width: 599px;
    height: 8px;
    
}

.slidebar {
    -webkit-appearance: none;
    position: absolute;
    width: 599px;
    height: 8px;
    top: 505px;
    left: 277px;
    outline: none;
    border: 0.5px solid #FE9013;
    background: #F5F7F6;
    border-radius: 5px;
}

.slidebar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:150px;
    height:8px;
    background:#FE9013;;
    border-radius:5px;
    transition:.1s;
  }

/*.slidebar {
    background-color: #4B9200;
}
*/
.testimonials__button {
    position: absolute;
    top: 544px;
    left: 0px;
    width: 300px;
}

.plant-decor4 {
    position: absolute;
    background: url(../../assets/images/plants_decor/leav_foto.jpg);
    position: absolute;
    width: 247px;
    height: 408px;
    right:0px;
    top: 504px;
}

.footer {
    position: relative;
    top: 3858px;
    width: 1600px;
    height: 443px;
    margin: auto;
    bottom: 0px;
    background-color: #111115;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
    color: #929699;
}

.footer__first-column {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 443px;
    /*background-color: #FFEE2E;*/
}

.button_donate {
    position: absolute;
    top: 161px;
    left: 0px;
}

.socialmedia {
    position: relative;
    width:111px;
    height:auto;
    left:0px;
    top: 208px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.socialmedia_elem {
    position: relative;
    left:220px;
    width: 111px;
    height: 200px;
    top: 30px;
    line-height: 50px;
}

.socialmedia_logo-facebook {
    top:4px;
    left: 9px;
}
.socialmedia_logo-twitter {
    top:41px;
    left: 5px;
}

.socialmedia_logo-instagram {
    top:76px;
    left: 5px;
}

.socialmedia_logo-youtube {
    top:113px;
    left: 4px;
}

.logo_box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 26px;
    height: 26px;
    left: 0px;
}

.logo-logo {
    position: absolute;
    top:0px;
    left:50%;
    width: 26px;
    height: 26px;
}

.logo-circle {
    position: relative;
    left: 0px;
}

.ico {
    position: absolute;
    background-image: url(../../assets/images/footer/Ellipse18.svg);
    width: 26px;
    height: 26px;
    z-index: 1;
    left: 0px;
    margin: auto;
    align-self: baseline;
}

.socialmedia__logoimg {
    /*display: block;*/
    position: absolute;
    z-index: 2;
    margin:auto;
    vertical-align: middle;
    /*top:50%;
    left:50%;
    /*margin: auto;
    vertical-align: center;*/
    
}


.socialmedia__text {
    position: absolute;
    left: 38px;
    width: 73px;
    height: 21px;
    font-weight: 400;
    font-size: 1.6rem;
    
    color: #FFFFFF;
    top: 4px;
}

.socialmedia__text:hover {
    color: #4B9200;
}


circle:hover {
    fill: #4B9200;
    fill-opacity: 1;
}

.footer__navigation {
        position:relative;
        bottom: -181px;
        left: 344px;
        width:50px;
}

.logo-footer {
    top: 40px;
}


.navigation-footer-ul {
    width:  362px;
}

.footer__text-designedby {
    font-style: normal;
    font-weight: 100;
    font-size: 1.6rem;
    line-height: 130%;
    color: #FFFFFF;
    padding: 0px;
    text-indent: 0px;
    line-height: 200%;
}

.footer__designedby {
    position: absolute;
    bottom: -223px;
    right: 0px;
    padding: 0px;
}

.footer__form {
    position: absolute;
    top: 42px;
    right: 0px;
    width: 366px;
}

.footer-form_title {
    position: relative;
    width: 237px;
    height: 29px;
    left: 0px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 120%;
    color: #FFFFFF;
}

.input-email {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 206px;
    background-color: #111115;
    border: 1px solid #F9804B;
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 140%;
    color: #BDBDBD;
    padding: 10px;
}

.input-email:focus {
    border-color: #4B9200;
    outline: none;
}

.input-email:invalid {
    border-color: #D31414;
    outline: none;
}

.sumbit_button {
    position: absolute;
    width: 129px;
    height: 42px;
    right: 0px;
    top: 40px;
    border: 1px solid #111115;
    border-radius: 5px;
    background-color: #F1F3F2;
    color: #111115;
    font-size: 1.6rem;
}

.sumbit_button:active {
    border-color:#4B9200;
    color: #4B9200;
}

.sumbit_button:hover {
    border-color: orange;
    color: orange;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        position: relative;
        width: 940px;
        margin: auto;
    }

    .header, .promo, .backstage, .animals, .pickafriend, .testimonials, .footer {
        width:1000px;
    }

    .header {
        z-index: 3;
    }

    .header__navigation {
        position:relative;
        top: -23px;
        left: 90px;
    }

    .logodiv {
        left: -1px;
        top: 14px;
    }

    ul {
        list-style: none; /*убираем маркеры списка*/
        margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
        padding-left: 0; /*убираем левый отступ, равный 40px*/
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 430px;
        left: 56px;    
      }

    .header__designedby {
        top: 31px;
        right: 1px;
        white-space: no-wrap;
    }

    .promo-panda {
        height: 584px;
        width: 1198px;
        background-repeat: no-repeat;
        left: -99px;
        background-size: 100%;
    }

    .ellipse {
        width: 367px;
        height: 367px;
        left: 456px;
        top: 70px;
        z-index: 2;
    }

    .title1 {
        font-size: 85.2px;
        top: 122px;
        left: 464px;
    }

    .promo__button {
        top: 484px;
        left: 565px;
    }

    .backstage {
        top: 612px;
    }

    .plant-decor1-box {
        display: none;
    }

    .first_column_of_2 {
        width: 455px;
        height: 408px;
        overflow: hidden;
    }

    .backstage__picture {
        width: 455px;
        height: 408px;
        background-repeat: no-repeat;
        background-image: url("../../assets/images/backstage/bamboo-cap_small.jpg");

    }

    .second_column_of_2 {
        right: 0px;
        width: 454px;
    }
    
    .title2 {
        top: -8px;
    }

    .backstage__text {
        top: 111px;
    }

    .title3 {
        top: 224px;
    }

    .bottom-BS-text {
        top: 271px;
    }

    .animals {
        top: 1174px;
    }

    .animals__card {
        width: 292px;
        height: 351px;
        margin-bottom: 92px;
    }
    
    .layout-3-column {
        width: 940px;
    }
    
    .animals__picture {
        width: 294px;
    }

    .animals__title {
        top: 301px;
    }

    .animals__description {
        top: 320px;
    }

    .animals__logo {
        top: 300px;
    }

    .navigation__arrow {
        top: 368px;
    }

    .left {
        left: 323px;
    }

    .right {
        right: 322px;
    }

    .animals__button {
        left: 321px;
        top: 880px;
    }

    .plant-decor2 {
        left: 0px;
        top: 872px;
        background-image: url("../../assets/images/plants_decor/palm_foto_small.png");

    }

    .plant-decor3 {
        right: -127px;
        top: 893px;
        background-image: url("../../assets/images/plants_decor/strelitzia_small.png");
    }

    .pickafriend {
        top: 2328px;
        height: 875px;
    }

    .pickafriend__inside-block {
        width: 940px;
        height: 796px;
        left: 30px;
        top: 11px;
    }

    .pickafriend__title {
        top:29px;
    }

    .pickafriend__inside-block {
        top:10px;
        left: 30px;
    }

    .pickandfeed_lozung {
        left: 50px;
        top: 86px;
        width: 845px;

    }

    .pickandfeed_accent {
        width: 811px;
        left: 50px;
        top: 144px;
    }

    .pickandfeed_text {
        left: 50px;
        top:195px;
        width: 811px;
    }

    .pickafriends__how-works {
        top: 294px;
    }

    .three-parts {
        left: 87px;
        right: 87px;
        top: 379px;
    }

    .pickafriend__arrow {
        top:440px;
    }

    .first {
        left: 286px;
    }

    .second {
        left: 582px;
    }

    .pickafriend__button {
        top: 694px;
    }

    .testimonials {
        top: 3189px;
        overflow: hidden;
        height: 777px;
    }

    .layout-4-column {
        width: 1265px;
    }

    .testimonials__textblock {
        width: 290px;
    }

    .testimonials__button {
        top:564px;
    }

    .slidebar {
        width: 390px;
        top: 501px;
        left: 265px;
    }

    .testimonials__h3 {
        top: 17px;
        left: 368px;
    }

    .plant-decor4 {
        background-image: url("../../assets/images/plants_decor/leav_foto_small.png");
        top: 540px;
        right: -52px;
    }

    .footer {
        top: 3190px;
    }

    .logo-footer {
        left: 0px;
        top:39px;
    }

    .footer__navigation {
        left: 234px;
        bottom: -179px;
    }

    .navigation-footer-ul {
        width: 333px;
    }

    .footer__form {
        top: 41px;
        right: 33px;
    }

    .footer__designedby {
        right: 2px;
    }
}