

.rss-logo {
    background-image: url(../images/rs_school_js.svg);
    width: 95px;
    height: 35px;
}

.git-logo {
    background-image: url(../images/git-logo.svg);
    width: 95px;
    height: 35px;
}

.menu__footer {
    padding-left: 0px;
}