

.rss-logo {
    background-image: url(../images/rs_school_js.svg);
    width: 95px;
    height: 35px;
    filter: invert(1);
}

.git-logo {
    background-image: url(../images/git-logo.svg);
    width: 38px;
    height: 35px;
}

.menu__footer {
    padding-left: 0px;
}

footer {
    border-top: 0.5px solid white;
    margin-top: 20px;
    padding-top: 10px;
}


@media screen and (max-width: 500px) {

    footer {
        margin-top: 0;
        border-top: none;
        position: absolute;
        display: flex;
        top: 690px;
        width: 95%;
    }

}