@import "_color.scss";

.help {
    color: yellow;
}

.helpme:hover {
    cursor: pointer;
}

.levels {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

.levels__menu {
    display: flex;
    //flex: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    //justify-content: space-between;
    //flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 100%;
    align-items: center;
    overflow: hidden;
    background-color: $mainColor;
    border: 0.5px solid white;
    border-radius: $border-radius;
}



.levels__item {
    display: list-item;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 16.667%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    //background-color: $mainColor;
    color: #333333;
    //text-shadow: 0.5px 0.5px 1px black;
    font-size: 1.25rem;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    outline: 0.1px solid white;
    overflow: hidden;
    user-select: none;
}

/*.levels__item:hover {
    cursor: pointer;

}*/



.levels__active {
    background-color: $activeColor;
    //text-shadow: none;
}


.levels__item:last-child {
    padding-right: 2px;
}
.levels__item:first-child {
    padding-left: 2px;
}



.bird {
    //width: 100%;
    padding: 10px;
    position: relative;
    display: flex;
    background-color: $block-bg-color;
    border-radius: $border-radius;
}

.bird__pic {
    width: 400px;
    height: 235px;
    overflow: hidden;
    border-radius: $border-radius;
    //width: 30%;
    margin-left: 0;
    position: relative;
    align-items: center;
    justify-items: center;
    display: flex;
    justify-content: center;
}


.bird__text {
    display: flex;
    position: relative;
    //padding: 10px;
    flex-wrap: wrap;
    width: 70%;
    flex-direction: column;
}

.bird__name {

    padding: 10px;
    padding-left: 20px;
    font-size: 1.85rem;
    font-weight: semibold;
    height: fit-content;

}

.bird__description {
    padding: 10px;
    padding-bottom: 0px;
    padding-left: 20px;
    line-height: 1.5;
}

.imgQ {
    display: block;
    position: absolute;

    width: 102%;
}

.img-info {
    display: block;
    position: absolute;
    height: 102%;
}

.answers-wrap {
    display: flex;
    /*align-items: center;
    flex-direction: column;*/
    padding-top: 10px;
    padding-bottom: 0px;
    line-height: 1.5;
}

.answers {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    //min-width: 50%;
    max-width: fit-content;

}

.answers__list {
    display: inline-flex;
    position: relative;
    padding-inline-start: 0px;
    //padding: 10px 20px;
    border-radius: $border-radius;
    margin: 0px;
    background-color: $block-bg-color;
    font-size: 1.12rem;
    //width: 100%;
    min-width: 15em;
    //max-width: 25%;


}

.answers__column {
   width: 100%;
}

.answers__item {
    list-style-type: none;
    min-width: 140px;
    //vertical-align: middle;
    border-bottom: 0.1px solid #444444;
    cursor: pointer;
    padding: 10px;
    padding-left: 20px;
    transition: $transition;
}

.answers__item:last-child {
    border: none;
}

.answers__item:hover {
    background-color: #223333;

}

.answers__item::before {
    content: "●";
    padding-right: 20px;
    font-size: 1.85rem;
    vertical-align: middle;
}

.right::before {
    color: $rightColor;
}

.wrong::before {
    color: $wrongColor;
}

.btn-next {
    border-radius: $border-radius;
    background-color: $mainColor;
    padding: 10px;
    margin-left: 0px;
    margin-top: 10px;
}


.inactive {
    opacity: 0.3;
    user-select: none;
}

.inactive:hover {
    cursor: default;
}

.blur {
    filter: blur(4px);
}

.bird__pic-info
.bird__text-info {
    display:none;
}

.bird__pic-info {
    height: 315px;
}

.birds__info {
    padding-left: 10px;
    position: relative;
    display: flex;
    background-color: $block-bg-color;
    border-radius: $border-radius;
    margin-left: 10px;
}

.game-info {
    padding: 15px;

}

.block {
    border: $block-border;
    background-color: $block-bg-color;
    border-radius: $border-radius;
}

.gallery {
    display: none;
}

.birds__info {
    display: flex;
    flex-direction: column;
}

.birds_name-pic-info {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.bird__player-info {
    padding-top: 0.5rem;
}

.btn_middle {
    display: none;
}

main {
    display: none;
}


@media screen and (max-width: 1000px) {

    .bird__pic {
        width: 350px;
        height: 200px;
    }

    .bird__pic-info {
        height: 290px;
    }

    .answers__list {
        min-width: 10em;
    }

    .levels__item {
        padding-left: 3px;
        padding-right: 3px;
        font-size: 1rem;
    }

}


@media screen and (max-width: 750px) {
    html {
        overflow-x: hidden;
    }

   .bird__name {
        //font-size: 1.25rem;
        padding-left: 5px;
    }

    .bird__name:first-child {
        padding-left: 15px;
    }

    .bird__pic {
        height: 150px;
    }

    .bird__pic-info {
        height: initial;
    }

    .answers-wrap {
        flex-direction: column;
    }

    .birds__info {
        margin-left: 0;
        margin-top: 10px;
    }

    .answers {
        max-width: none;
    }

    .answers__column {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .answers__list {
        width: 100%;
    }

    .answers__item {
        min-width: 31.55%;
        max-width: fit-content;
        border: none;
        //border-left: 0.1px solid #444444;
        //border-inline: 0.1px solid #444444;
        padding: 0px;
        padding-left: 10px;
    }

    .btn_bottom {
        display: none;
    }

    .btn_middle {
        display: flex;
    }

    .levels__item {
        word-wrap: break-word;
    }

    .answers__item:hover {
        background-color: $block-bg-color;
        color: #FFFF66;
        transition: color 0.3s linear;
    }
}

@media screen and (max-width: 575px) {



    .levels__menu {
        flex-direction: column;
        margin-top: 0;
    }

    .levels__item {
        box-sizing: content-box;
        width: 100%;
        font-size: 1.2rem;
    }

    .bird__name {
        font-size: 1.15rem;
    }

    .bird__pic  {
        width: 50%;
        height: 130px;
    }

    .bird__pic-info {
        width: 270px;
        height: 205px;
    }

    .birds_name-pic-info {
        flex-direction: column;
        align-items: center;
        //justify-content: flex-start;
    }

    .bird__text-info {
        width: 100%;
        //padding-right: 5px;
    }

    .bird__description {
        padding: 2px;
    }

    .birds__info {
        padding-left: 5px;
        padding-right: 5px;
    }

    .bird__player {
        padding: 0;
    }

    .answers__item {
        min-width: 40%;
    }

    .answers__item::before {
        padding: 10px;
    }



    .imgQ {
        width: 195px;
    }


}