@import "_color.scss";

html {
    font-family: generalFont;
    background-color: #222222;
    color: white;
    font-size: 16px;

}

body {
    margin: 0;
    margin-top: 10px;
    overflow-x: hidden;
}

/*div {
    border: 1px solid red;
}*/


.wrap {
    //border: 1px solid red;
    width: 95%;
    max-width: 1600px;
    margin: auto;
    padding: 15px;

}

header, footer {
    display: flex;
}

.logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.menu__item {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    //border: 1px solid green;
    position: relative;

}


.btn {
    transition: $transition;
}

.btn:hover {
    background-color: $btnHover;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 14px;
    }

    .wrap {
        padding: 10px;
    }
}

@media screen and (max-width: 500px) {

    .wrap {
        padding: 0;
    }
}