@import "_color.scss";

.logo {
    background-image: url(../images/logo.svg);
    width: 200px;
    height: 55px;
}

.menu {
    display: inline-flex;
    flex: auto;
    list-style: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.menu__item-header {
    border: 0.5px solid;
    border-radius: $border-radius;
    border-style: double;
    border-color: white;
    margin-inline: 1%;
    background-color: $mainColor;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
}

.active {
    background-color: $activeColor;

}