* {
    font-size: 14px;
    color: #003153;
    font-family: 'Roboto', 'Verdana', sans-serif;
    
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
  }

.button-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto;
    max-width: 800px;
    min-width: fit-content;
    align-items: center;
}

#canvas {
    display: block;
    margin: 0 auto;
    border:2px solid #003153;
    border-radius: 2px;
}

.output_line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 15px auto;
}

.output_line-elem {
    margin: auto 10px;
}

.btn_game {
    color: #003153;
    border: 1px solid #003153;
    border-radius: 3px;
    height: 25px;
    min-width: fit-content;
    max-width: 40px;
    text-align: center;
    justify-content: center;
    margin-left: 1%;
    margin-top: 10px;
    background-color: white;
    /*background-color: #fffdd0;*/
    box-shadow: 3px 3px 8px grey;
    
}

.btn_game:hover {
    background-color: #fbec5d;
}

.btn_game:active {
    background-color: #fbec5d;
    box-shadow: 2px 2px 4px grey;
}

.form-style :first-child {
    margin-left: 0px;
}

.form-style {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.inactive {
    opacity: 0.4;
    box-shadow: none;
}

.inactive:hover {
    background-color: #fffdd0;
    opacity: 0.4;
}

.inactive:active {
    box-shadow: none;
    background-color: #fffdd0;
}

.sizes {
    display: flex;
    width: 320px;
    justify-content: space-between;
}

.audio {
    width: fit-content;
    height: auto;
}

.audiopic {
    width: 50%;
    
}

.up {
    height: 28px;
}

.topresults {
    display: none;
    width: 200px;
    height: auto;
    background-color: #fbec5d;
    box-shadow: 3px 3px 8px grey;
    border-radius: 2px;
    margin: auto;
    transition: all 0.5s ease-out;
    padding: 10px 15px;
}

.titleTop {
    position: absolute;
    margin: auto;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}

ol {
    
    margin-top: 30px;;
}


@media screen and (max-width: 1280px) {
    .button-line {
        max-width:  600px;
        
    }
}

@media screen and (max-width: 768px) {
    .button-line {
        max-width: 310px;
    }
}


@media screen and (max-width: 320px) {
    .button-line {
        max-width: 210px;
    }
}


