@import 'values';

body {
  background-color: $bg;
  color: $color;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 10px;
}

.btn {
  margin: 5px;
  width: 159px;
  height: 30px;
  background-color: $bg-main-btn;
  text-transform: uppercase;
  border-radius: 5px;
}

.second {
  background-color: $bg-second-btn;
  width: 140px;
}

.btn:hover {
  filter: saturate(3);
  cursor: pointer;
}

.btn:active {
  box-shadow: -2px -2px 2px 3px rgba(34, 60, 80, 0.44) inset;
}

.btn_inactive {
  margin: 5px;
  // width: 140px;
  // height: 30px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: default;
  background-color: grey;
}

.btn_inactive:hover {
  cursor: default;
  filter: none;
  box-shadow: none;
}

main {
  padding: 10px;
}

.main__footer {
  margin-top: 20px;
}
