$bg: #212121;
$color: #ffffff;
$dark-color: #000000;
$bg-main-btn: #abbd81;
$bg-main-btn-hover: #abbd81;
$bg-second-btn: #77a4bd;
$bg-second-btn-hover: #a0c8d7;

$inner-border: #555555;
$stop-btn: #e15b64;
$start-btn: #abbd81;
