$color: #ffffff;
$bg-main-btn: #a7ffc4;
$bg-main-btn-hover: #79ffa5;
$bg-second-btn: #a7eaff;
$bg-second-btn-hover: #6adcff;

body {
  background-color: black;
  color: $color;
}

header {
  padding: 10px;
}

.btn {
  margin: 5px;
  width: 140px;
  height: 30px;
  background-color: $bg-main-btn;
  text-transform: uppercase;
  border-radius: 5px;
}

.second {
  background-color: $bg-second-btn;
}

.btn:hover {
  filter: saturate(3);
  cursor: pointer;
}

.btn:active {
  box-shadow: -2px -2px 2px 3px rgba(34, 60, 80, 0.44) inset;
}

.btn_inactive {
  margin: 5px;
  width: 140px;
  height: 30px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: default;
  background-color: grey;
}

main {
  padding: 10px;
}

.inp {
  width: 120px;
  height: 25px;
  border-radius: 5px;
  margin: 5px;
}

.color {
  border-radius: 5px;
}

.master {
  padding: 10px;
}

.car__rule-button {
  display: inline-flex;
}

.car__start-stop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 2px solid grey;
  color: grey;
  border-radius: 5px;
  margin: 5px;
}

.start {
  border-color: green;
  color: green;
}

.stop {
  border-color: red;
  color: red;
}

.car__start-stop:hover,
.car__start-stop:hover {
  filter: saturate(3);
  cursor: pointer;
}

hr {
  border: 1px dashed $color;
}

.car__images {
  position: relative;
  width: 100%;
  height: 100px;
}

.car__flag {
  width: 70px;
  height: 70px;
  top: -25px;
  position: absolute;
  right: 100px;
  background-image: url('../img/finish-line-flag.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.car__car {
  position: absolute;
  padding-left: 20px;
  top: -4px;
  width: 150px;
  height: 75px;
}

.car__road {
  position: absolute;
  top: 35px;
  width: 100%;
}

.car__car:active {
  animation-duration: 3s;
  animation-name: movecar;
}

.start:active > .car__car {
  animation-duration: 3s;
  animation-name: movecar;
}

@keyframes movecar {
  from {
    left: 0px;
  }

  to {
    left: calc(100% - 150px);
  }
}
