html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', 'Verdana', sans-serif;
    margin: 0;
}

.almost-black {
    color: #333B41;
}

.font-24-px {
    font-size: 2.4rem;
}

a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
}

a:link {
    color: white;
}

.navigation a:hover {
    color: orange;
}

a:hover {
    color: orange;
}


a:visited {
    color: white;
}

a:active {
    color: #4B9200;
}

.wrapper {
    position: relative;
    width: 1160px;
    margin: auto;
    
}

.box-slider-animals {
    position: absolute;
    width: 1158px;
    height: 884px;
    overflow: hidden;
}

@keyframes move-right {
    from {left: -395px;}
    to {left: 0px;}
}

.transition-right {
    animation-name: move-right;
    animation-duration: 5s;
}

@keyframes move-left {
    from {left: -395px;}
    to {left: -790px;}
}

.transition-left {
    animation-name: move-left;
    animation-duration: 5s;
}

.animals {
    position: relative;
    top: 1421px;
    left: 0px;
    width: 1600px;
    margin: auto;
}

.layout-3-column {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 1948px;
    padding: 0px 15px 15px 0px;
    left: -395px;
    justify-content: space-between;
}

.animals__card {
    width: 366px;
    height: 426px;
    border:  1px solid;
    border-color: #FA6F32; 
    border-radius: 5px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.animals__card:hover > .animals__picture {
    transform: scale(1.1);
    filter:brightness(50%);
    transition: all 0.1s ease;
}

.animals__card:hover > .animals__title-box {
    transform: translate(120px, -250px);
    filter: invert();
    transition: all 0.2s ease;
}

.animals__card:hover > .animals__title {
    font-size: 200px;
    transition: all 0.2s ease;
}

.animals__picture {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 366px;
    margin: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.animals__title {
    display: block;
    position: absolute;
    width: 294px;
    height: 22px;
    left: 16px;
    top: 374px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #000000;
}

.animals__description {
    position: absolute;
    width: 294px;
    height: 18px;
    left: 16px;
    top: 394px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.animals__logo {
    position: absolute;
    top: 376px;
}

.banana {
    background-image: url(../../assets/images/animals/banana-bamboo_icon.png);
    width: 33px;
    height: 37px;
    right: 13px;
}

.meat {
    right: 8px;
    width: 48px;
    height: 38px;
    background-image: url(../../assets/images/animals/meet-fish_icon.png);
}

.navigation__arrow {
    position: absolute;
    top: 406px;
    width: 62px;
    height: 62px;
}

.navigation__arrow:active {
    scale: 110%;
}

.left {
    left: -83px;
    background-image: url("../online-zoo/assets/images/navigation/arrow_elips_2.png");
}

.right {
    right: -81px;
    background-image: url("../online-zoo/assets/images/navigation/arrow_elips_1.png");
}

.animals__button {
    position: absolute;
    left: 432px;
    top: 955px;
    border: none;
}

.plant-decor2 {
    position: absolute;
    background: url(../../assets/images/plants_decor/palm_foto.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 868px;
    height: 460px;
    left: 0px;
    top: 649px;
}

.plant-decor3 {
    position: absolute;
    background: url(../../assets/images/plants_decor/strelitzia.png);
    background-repeat: no-repeat;
    width: 368px;
    height: 275px;
    right: 0px;
    top: 833px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}