html {
font-size: 10px;
}

.wrapper {
    position:  absolute;
    width: 1600px;
}

.header {
    background-color: black;
    width: 1600px;
    height: 80px;
    position: fixed;
    top: 0px;
    z-index: 2;
}


.logo-p {
    background-color: black;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 82px;
    height: 52px;
    top: 14px;
    left: 220px;
    border: 1px solid white;
    border-radius: 1px;
    font-size: 1.9rem;
    color: white;
    font-family: 400; 
}

.logo-a {
    text-align: center;
    color: white;
    outline: none;
    text-decoration: none;
}

.logo-bamboo {
    background-image: url(/img/logo/bamboo.svg);
    width: 7.03px;
    height: 20.98px;
    transform: rotate(-150.24°);
    position: relative;

}

.promo-panda {
    background-image: url(img/promo/Giant_Panda.jpg);
    width: 1600px;
    height: 780px;
    display: inline-block;
    position: absolute;
    top: 0px;
    z-index: 1;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', 'Verdana', sans-serif;
}